<!DOCTYPE html>
html(lang='en')
  head
    meta(charset='UTF-8')
    title To-Do
    link(rel='stylesheet', href='/css/style.css')
  body
    h1(class='tasklist-title')
    div(class='wrapper_create')
      div(class='create_field' contenteditable='true') new task...
      div(class='ok_markdown')
    div(class='wrapper_list')
      ul(class='list not_done')
      ul(class='list done')
    div(class='tasklists-box')
      h2(class='tasklists-title') Your tasklists
      ul(class='tasklists')
    
    script(src='js/handler.js')
    script(src='js/backend.js')
    script(src='js/action.js')
    script(src='js/task.js')
    script(src='js/tasklist.js')
    script(src='js/tasklists.js')
    
    
