<!DOCTYPE html>
html(lang='en')
  head
    meta(charset='UTF-8')
    title To-Do
    link(rel='stylesheet', href='/css/style.css')
  body
    div(class='new-task__wrapper')
      div(class='new-task__add-field' contenteditable='true') new task...
      div(class='new-task__add-button')
      div(class='new-task__add-note')
    div(class='board-wrapper')
      div(class='tasklists-box')
        h2(class='tasklists-box__title') Tasklists
        ul(class='tasklists-box__tasklist-title')
        div(class='tasklists-box__add-button')  
      div(class='tasks')
        div(class='tasklist-header')
          if title
            h2(class='tasklist-header__title') #{title}
          else
            h2(class='tasklist-header__title') add your first tasklist...
          div(class='tasklist-header__edit-tasklist_button')
          ul(class='tasklist-header__edit-tasklist_menu invisible')
              li rename
              li delete


        ul(class='tasks-box__list tasks_not-done')
        ul(class='tasks-box__list tasks_done')
    
    script(src='js/handler.js')
    script(src='js/backend.js')
    script(src='js/action.js')
    script(src='js/task.js')
    script(src='js/tasklist.js')
    script(src='js/title.js')
    script(src='js/main.js')
    
    
