<!DOCTYPE html>
html(lang='en')
  head
    meta(charset='UTF-8')
    title To-Do
    link(rel='stylesheet', href='/css/style.css')
  body
    div(class='create-box__wrapper')
      div(class='new-task__add-field' contenteditable='true') new task...
      div(class='new-task__add-button button')
      div(class='new-note__note-header' contenteditable='true') type header...
      div(class='new-note__note-text' contenteditable='true')
      div(class='new-note__add-button button')
      div(class='create-box__mode-button button' mode='check')

    div(class='board-wrapper')
      div(class='tasklists-box')
        h2(class='tasklists-box__title') Tasklists
        ul(class='tasklists-box__tasklist-title')
        div(class='tasklists-box__add-button button')  
      div(class='tasks')
        div(class='tasklist-header')
          if title
            h2(class='tasklist-header__title') #{title}
          else
            h2(class='tasklist-header__title') your first tasklist...
          div(class='tasklist-header__edit-tasklist_button button')
          ul(class='tasklist-header__edit-tasklist_menu invisible')
              li(class='button') rename
              li(class='button') delete
        ul(class='tasks-box__list tasks_not-done')
        ul(class='tasks-box__list tasks_done')
      div(class='notes')
    script(src='js/dom-element.js')
    script(src='js/motivation.js')
    script(src='js/task-handler.js')
    script(src='js/tasklist-toggle.js')
    script(src='js/backend.js')
    script(src='js/tasklist.js')
    script(src='js/task.js')
    script(src='js/tasklist-setting.js')
    script(src='js/switch-mode.js')
    script(src='js/main.js')
    
