<!DOCTYPE html>
html(lang='en')
  head
    meta(charset='UTF-8')
    title Mylist
    link(rel='stylesheet', href='/css/style.css')
  body
    p My Daily tasks
    hr
    
    div(class='test')
      p not done yet:
      ul(class='not_done')
      hr
      p done:
      ul(class='done')
    hr  
    <button>Create</button>
    


    script(src='js/render_tasklist.js')
    script(src='js/add_task.js')
    script(src='js/backend.js')
    script(src='js/button.js')
    
