<!DOCTYPE html>
html(lang='en')
  head
    meta(charset='UTF-8')
    title Mylist
    link(rel='stylesheet', href='/css/style.css')
  body
    p My Daily tasks
    div(class='cross')
    hr
    
    div(class='test')
      p not done yet:
      ul(class='list not_done')
   
      p done:
      ul(class='list done')
    hr  
    button(class='create_button') Create
    


    script(src='js/backend.js')
    script(src='js/tasklist.js')
    script(src='js/action.js')
    script(src='js/button.js')
    
