<!DOCTYPE html>
html(lang='en')
  head
    meta(charset='UTF-8')
    title Mylist
    link(rel='stylesheet', href='/css/style.css')
  body
    div(class='wrapper_create')
      div(class='create_field' contenteditable='true') new task...
      div(class='ok_markdown')
    hr
    div
      p not done yet:
      ul(class='list not_done')
      p done:
      ul(class='list done')

    script(src='js/handler.js')
    script(src='js/backend.js')
    script(src='js/action.js')
    script(src='js/task.js')
    script(src='js/tasklist.js')
    
