<!DOCTYPE html>
html(lang='en')
  head
    meta(charset='UTF-8')
    title Mylist
    link(rel='stylesheet', href='/style.css')
  body
    p My Daily tasks
    hr
    ul
      each val, index in tasklist
        li
          div= val.title
          include controls.pug
    hr  
    p end of list
    form(action='/edit' method='POST') 
      input(type='text' name='key')
      input(type='submit')

    script(src='/main.js')