body {
  background-color: white;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

.tasklist-header__title {
  text-align: center;
  margin: 0;
  font-size: 30px;
  font-weight: normal;
  height: 32px;
  color: #707070;
}

.tasks-box__list {
  list-style-type: none;
  padding-left: 10px;
  font-size: 26px;
  margin-top: 30px;
  margin-bottom: 0;
}

.task-box {
  display: flex;
  position: relative;
}

.task-box__cross {
  width: 20px;
  min-width: 20px;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICA8cGF0aCBkPSJNMTkgNi40MUwxNy41OSA1IDEyIDEwLjU5IDYuNDEgNSA1IDYuNDEgMTAuNTkgMTIgNSAxNy41OSA2LjQxIDE5IDEyIDEzLjQxIDE3LjU5IDE5IDE5IDE3LjU5IDEzLjQxIDEyIDE5IDYuNDF6Ii8+Cjwvc3ZnPgo=');
  background-repeat: no-repeat;
  background-position: right 50% top 7px;
  opacity: 0;
}

.task-box__content {
  flex-grow: 2;
  align-self: stretch;
  min-height: 40px;
  /* width: 100%; */
  word-break: break-all;
  margin: 2px 20px;
  outline: none;
  /* display: inline; */
}

.new-task__add-button {
  min-width: 50px;
  position: relative;
  background-image: url('/img/checkmark.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  align-self: stretch;
  margin-left: 20px;
  opacity: 0;
} 

.new-task__add-button:active {
  transform: scale(0.9);
}

.new-task__wrapper {
  width: 595px;
  min-height: 73px;
  border-radius: 10px;
  box-shadow: -1px 1px 3px 2px #2021243e;
  margin-top: 50px;
  position: relative;
  left: 485px;
  padding: 12px 15px 10px 20px;
  box-sizing: border-box;
  display: flex;
  background-color: white;
}

.new-task__add-field {
  outline: none;
  flex-grow: 2;
  font-size: 30px;
  color: grey;
  word-break: break-all;
}

.tasks {
  background-color: white;
  border-radius: 10px;
  box-shadow: -1px 1px 3px 2px #2021243e;
  padding: 20px 15px 20px 15px;

  width: 595px;
  /* position: relative; */
  /* left: 30%; */
  /* margin-top: 35px; */
  font-size: 20px;
  min-height: 620px;
  box-sizing: border-box;
}

.tasks_done .task-box__content {
  text-decoration: line-through;
}

.task-box input {
  align-self: center;
  margin: 0;

}

.tasklists-box {
  width: 300px;
  min-height: 620px;
  background-color: white;
  border-radius: 10px;
  box-shadow: -1px 1px 3px 2px #2021243e;
  /* position: absolute; */
  margin-right: 35px;
  /* top: 83px; */
  padding: 20px 15px;
  margin-left: 150px;
  box-sizing: border-box;
}

.tasklists-box__tasklist-title {
  list-style-type: none;
  padding: 10px;
  margin: 0;
  font-size: 26px;


}

.tasklists-box__tasklist-title li {
  margin: 10px 0;
}

.tasklists-box__title {
  margin: 0;
  text-align: center;
  font-weight: normal;
  color: #707070;
  font-size: 30px;
}


.tasklists-box__input-field {
  z-index: 10;
  position: absolute;
  border: 1px solid black;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  width: 100%;
  top: 36%;
  left: 0;
  box-sizing: border-box;
  height: 50px;
  outline: none;
  font-size: 18px;
}

.tasklists-box__add-button {
  background-image: url('/img/plus.png');
  width: 40px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 10px;
  left: 10px;
  border-radius: 25px;
  border: none;
}

.tasklists-box__placeholder {
  text-align: center;
}

.board-wrapper {
  display: flex;
  margin-top: 35px;
}

.task-box div[role="checkbox"] {
  width: 20px;
  height: 20px;
  min-height: 20px;
  min-width: 20px;

  border: 1px solid black;
  align-self: center;
}
/* input[type="checkbox"] {
  display: none;
}

.task-box__checkbox-placeholder {
  width: 20px;
  height: 20px;
  min-height: 20px;
  min-width: 20px;

  border: 1px solid black;
  align-self: center;
}

div[ddd="zzz"] {
  border: 1px solid red;
} */