/*Общие селекторы*/

body {
  background-color: white;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

.button {
  cursor: pointer;
}

/*Элементы верхнего меню (создание заметок и задач, поиск и т.д)*/

.new-task__wrapper {
  position: relative;
  left: 485px;

  display: flex;

  width: 595px;
  min-height: 73px;
  box-sizing: border-box;
  margin-top: 50px;
  padding: 12px 15px 10px 20px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.4);
    
  background-color: white;
}

.new-task__add-field {
  flex-grow: 2;
  margin-right: 25px;
  outline: none;
  color: grey;
  font-size: 30px;
  word-break: break-all;
}

.new-task__add-button {
  align-self: center;
  min-width: 45px;
  min-height: 45px;
  background-image: url('/img/checkmark.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
}

.new-task__add-button:active {
  transform: scale(0.9);
}

.new-task__add-note {
  align-self: center;
  min-width: 45px;
  min-height: 45px;
  background-image: url('/img/note.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.new-task__add-button:hover,
.new-task__add-note:hover {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

/*Элементы доски пользователя*/

.board-wrapper {
  display: flex;
  margin-top: 35px;
}

/*Элементы списка тасклистов*/

.tasklists-box {
  position: relative;

  width: 300px;
  min-height: 620px;
  margin-right: 35px;
  margin-left: 150px;
  padding: 0;
  box-sizing: border-box;

  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 10px;

  background-color: white;
}

.tasklists-box__title {
  margin: 0;
  margin-top: 20px;
  cursor: default;
  font-size: 30px;
  font-weight: normal;
  text-align: center;
  color: #707070;
}

.tasklists-box__tasklist-title {
  margin: 14px 0 0 0;
  padding: 0;
  list-style-type: none;
  font-size: 26px;
}

.tasklists-box__add-button {
  position: absolute;
  top: 23px;
  right: 10px;

  width: 40px;
  height: 40px;
  border-radius: 25px;

  background-image: url('/img/plus.png');
  background-color: white;
  background-size: contain;
  background-repeat: no-repeat;
}

.tasklists-box__add-button:hover {
  background-color: rgba(115, 145, 185, 0.2);
}

.tasklists-box__add-button:active {
  transform: scale(0.9);
}

.tasklists-box__tasklist-title__element {
  padding: 2px 14px;
  cursor: pointer;
  font-size: 26px;
  word-break: break-all;
}

.tasklists-box__tasklist-title__element:hover:not(.tasklists-box__tasklist-title__selected) {
  background-color: rgba(115, 145, 185, 0.2);
}

.tasklists-box__tasklist-title__selected {
  position: relative;
  right: 28px;

  width: 327px;
  padding: 6px 0 10px 42px;
  box-sizing: border-box;
  border-top-left-radius: 29px;
  border-bottom-left-radius: 29px;

  background-color: #5FCFD4;
}

.tasklists-box__input-field {
  position: absolute;
  top: 11%;
  left: 10px;
  z-index: 10;

  width: 280px;
  min-height: 50px;
  box-sizing: border-box;
  padding: 10px 15px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  outline: none;
  
  box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.4);
  background-color: white;

  font-size: 18px;
  word-break: break-all;
}

.tasklists-box__placeholder {
  margin-top: 230px;
  text-align: center;
  opacity: 0.4;
}

/*Элементы списка задач*/

.tasks {
  width: 595px;
  min-height: 620px;
  padding: 20px 15px 20px 15px;
  margin-right: 35px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  box-sizing: border-box;

  background-color: white;

  font-size: 20px;
}

.tasklist-header {
  position: relative;
  display: flex;
}

.tasklist-header__title {
  flex-grow: 2;
  margin: 0;

  cursor: default;
  
  font-size: 30px;
  font-weight: normal;
  word-break: break-all;
  text-align: center;
  color: #707070;
}

.tasklist-header__edit-tasklist_button {
  align-self: stretch;
  min-width: 40px;
  margin-left: 20px;
  border-radius: 25px;
  background-image: url('/img/setting.png');
  background-position: 1px 3px;
  background-size: contain;
  background-repeat: no-repeat;
}

.tasklist-header__edit-tasklist_button:hover {
  background-color: rgba(115, 145, 185, 0.2);
}

.tasklist-header__edit-tasklist_menu {
  position: absolute;
  right: 42px;
  top: 6px;
  z-index: 2;

  width: 100px;
  height: 60px;
  margin: 0;
  padding: 10px 0;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  
  list-style-type: none;

  box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.4);
}

.tasklist-header__edit-tasklist_menu li {
  padding-left: 10px;
}

.tasklist-header__edit-tasklist_menu li:hover {
  background-color: rgba(115, 145, 185, 0.2);
}

.tasklist-header__edit-tasklist_menu li:not(:last-child) {
  margin-bottom: 3px;
}

.invisible {
  display: none;
}

.tasklist-header__input-field {
  position: absolute;
  top: 0;
  left: 16%;
  z-index: 10;

  width: 320px;
  min-height: 50px;
  padding: 10px 15px;
  box-sizing: border-box;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 10px;

  box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.4);
  background-color: white;
  
  font-size: 18px;
  word-break: break-all;
}

.task-box {
  position: relative;
  display: flex;

  border: 1px solid rgba(0, 0, 0, 0);
}

.task-box:hover {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.tasks-box__list {
  margin-top: 30px;
  margin-bottom: 0;
  padding-left: 10px;
  list-style-type: none;
  font-size: 26px;
}

.task-box div[role="checkbox"] {
  align-self: center;
  width: 20px;
  height: 20px;
  min-height: 20px;
  min-width: 20px;
  border: 1px solid black;
}

.task-box__content {
  flex-grow: 2;
  align-self: stretch;

  min-height: 40px;
  margin: 2px 0px 2px 20px;
  padding-right: 20px;
  outline: none;

  word-break: break-all;
}

.tasks_done .task-box__content {
  text-decoration: line-through;
}

.tasks_done div[role="checkbox"] {
  background-image: url('/img/task_checkmark.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.task-box__cross {
  z-index: 1;

  width: 20px;
  min-width: 20px;

  background-image: url('/img/cross.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right 50% top 13px;
  opacity: 0;
}

/*Элементы блока заметок*/
.notes {
  display: flex;

  width: 595px;
  min-height: 620px;
  padding: 20px 15px 20px 15px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  box-sizing: border-box;

  background-color: white;

  font-size: 20px;
}


/*Элементы мотивационного блока*/

.motivation-box {
  margin-top: 180px;
  text-align: center;
  opacity: 0.4;
}

.motivation-box img {
  display: block;
  width: 130px;
  margin: 5px auto;
  opacity: 0.35;
}
