body {
  background-color: #8b96a8;
  font-family: 'Courier New', Courier, monospace;
}

.tasklist_head-title {
  text-align: center;
}

.list {
  list-style-type: none;
  padding-left: 10px;
}

.taskBox {
  display: flex;
  position: relative;
}

.cross {
  width: 20px;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICA8cGF0aCBkPSJNMTkgNi40MUwxNy41OSA1IDEyIDEwLjU5IDYuNDEgNSA1IDYuNDEgMTAuNTkgMTIgNSAxNy41OSA2LjQxIDE5IDEyIDEzLjQxIDE3LjU5IDE5IDE5IDE3LjU5IDEzLjQxIDEyIDE5IDYuNDF6Ii8+Cjwvc3ZnPgo=');
  background-repeat: no-repeat;
  background-position: right 50% top 7px;
  opacity: 0;
}

.taskContent {
  flex-grow: 3;
  width: 100%;
  word-break: break-all;
  margin: 10px 20px;
  outline: none;
}

.ok_markdown {
  width: 50px;
  position: relative;
  background-image: url('/img/checkmark.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  align-self: stretch;
  margin-left: 20px;
  opacity: 0;
} 

.ok_markdown:active {
  transform: scale(0.9);

}

.wrapper_create {
  width: 700px;
  min-height: 40px;
  border-radius: 10px;
  box-shadow: -1px 1px 3px 2px #2021243e;
  margin: 25px;
  position: relative;
  left: 30%;
  padding: 10px 15px;
  display: flex;
  background-color: white;
}

.create_field {
  outline: none;
  width: 650px;
  font-size: 26px;
  padding-top: 4px;
  color: grey;
  word-break: break-all;
}

.cursor {
  height: 50%;
  border: 1px solid grey;
  position: absolute;
  top: 14px;
}

.wrapper_list {
  background-color: white;
  border-radius: 10px;
  box-shadow: -1px 1px 3px 2px #2021243e;
  padding: 10px 15px;
  width: 700px;
  position: relative;
  left: 30%;
  margin: 25px;
  font-size: 20px;
}

.done div {
  text-decoration: line-through;
}

input {
  align-self: center;

}

.tasklists-box {
  width: 300px;
  height: 200px;
  background-color: white;
  border-radius: 10px;
  box-shadow: -1px 1px 3px 2px #2021243e;
  position: absolute;
  top: 10px;
  padding: 10px 15px;
}

.tasklists {
  list-style-type: none;
  padding: 10px;
  margin: 0;


}

.tasklists li {
  margin: 10px 0;
}

.tasklists-title {
  text-align: center;
  margin: 10px 0;
}


.tasklist_enter-field {
  z-index: 10;
  position: absolute;
  border: 1px solid black;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  width: 200px;
  top: 36%;
  left: 29%;
  height: 40px;
  outline: none;
}

